@media screen and (max-width: 960px) {
    .navigation {
        display: none;
    }
    .header {
        padding: 17px;
    }
    .header .logo img {
        width: 70%;
    }
    .header .nav-socials .nav-item a {
        width: 35px;
        height: 35px;
        font-size: 22px;
        line-height: 35px;
    }
    .header .phone {
        display: none;
    }
    .page-lang select {
        display: none;
    }
    .page-lang .button-lang {
        display: block;
    }
    .header .menu {
        display: block;
    }
    .section {
        padding: 40px 0;
    }
    .card {
        border-radius: 0;
    }
    .section-main .section-foreground > .container {
        width: 100%;
        padding: 0;
    }
    .section-main .section-title {
        font-size: 40px;
    }
    .section-services .list-services {
        flex-wrap: wrap;
    }
    .section-services .list-services > *:not(:last-child) {
        margin-bottom: 40px;
        position: relative;
    }
    .section-services .list-services > *:not(:last-child)::after {
        content: '';
        display: block;
        width: 60%;
        height: 1px;
        background-color: #3b3b3b;
        position: absolute;
        bottom: -20px;
        left: 20%;
    }
    .section-news .list-news {
        flex-wrap: wrap;
    }
    .section-news .list-news .list-item:first-child {
        margin-bottom: 40px;
        position: relative;
    }
    .section-news .list-news .list-item:first-child::after {
        content: '';
        display: block;
        width: 60%;
        height: 1px;
        background-color: #3b3b3b;
        position: absolute;
        bottom: -20px;
        left: 20%;
    }
    .section-news .section-body {
        margin-bottom: 20px;
    }
    .section-news .col-2 {
        width: 100%;
    }
    .section-news .slide3 {
        display: none;
    }
    .section-news .button-sm {
        padding: 5px 60px;
    }
    .section-services .col-3 {
        width: 100%;
    }
    .section-info .list-info {
        flex-wrap: wrap;
    }
    .section-info .col-3 {
        width: 100%;
        margin: 20px 0;
    }
    .section-info {
        padding-bottom: 0;
    }
    .section-info .section-heading {
        margin-bottom: 0;
    }
    .section-consultation .container {
        padding: 0 75px;
    }
    .section-consultation .section-subtitle {
        line-height: 40px;
    }
    .section-consultation form input {
        border-radius: 25px;
        padding: 25px 35px;
    }
    .section-consultation form button {
        margin-top: 10px;
    }
    .section-contacts {
        padding: 0;
    }
    .section-contacts .section-foreground .underline {
        border-bottom: none;
    }
    .section-contacts .section-body {
        flex-direction: column;
        padding: 0;
    }
    .section-contacts .section-body .col-2 {
        width: 100%;
    }
    .section-contacts .section-body .left {
        text-align: center;
        padding: 30px 45px;
    }
    .section-contacts .section-body .left .map {
        border-radius: 0;
    }
    .section-contacts .nav-socials {
        justify-content: center;
    }
    .section-contacts .section-body .right {
        padding: 30px 0;
        order: -1;
        border-bottom: 1px solid #adadad;
    }
    .section-contacts .section-body .right .section-subtitle {
        font-size: 40px;
        text-align: center;
    }
    .section-contacts form input {
        padding: 15px 30px;
        min-width: 400px;
    }
    .section-contacts form {
        margin-top: 30px;
    }
    .section-contacts form button {
        margin-top: 30px;
    }


    .footer {
        padding: 0;
    }
    footer .copy {
        color: rgba(255, 255, 255, 0.6);
    }
    .footer-left {
        display: none;
    }



}
@media screen and (max-width: 700px) {
    .section-main .slide2 ,
    .section-main .slide3 {
        display: none;
    }
    .section-consultation form input {
        width: 100%;
    }
}
