.button
    display: inline-block
    text-decoration: none
    color: #fff
    background-color: transparent
    font-size: 18px
    border: 2px solid #f15a22
    border-radius: 70px
    padding: 10px 50px
    margin: 5px
    cursor: pointer

    &:hover,
    &:focus
        color: #fff
        background-color: #f15a22
        border-color: #f15a22

    &-sm
        font-size: 15px
        padding: 7px 50px
    &-lg
        padding: 18px 20px
    &-bg
        background-color: #f15a22
